body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: radial-gradient(circle, #0716a0, #5b70e9); */
  /* You can adjust the gradient direction and colors as needed */
  /* For example, "to bottom" indicates top to bottom gradient */
  /* #ff9900 and #ffcc00 are the start and end colors */
}
